In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import pickle

In [2]:
da=pd.read_csv('student.csv')
da.head()

   sub1  sub2  sub3  study_hours assignments  marks
0  72.0  72.0  74.0         6.83        none  78.50
1  69.0  90.0  88.0         6.56   completed  76.74
2  90.0  95.0  93.0          NaN        none  78.68
3  47.0  57.0  44.0         5.67        none  71.82
4  76.0  78.0  75.0         8.67        none  84.19

In [3]:


da['sub1'].fillna(da['sub1'].mean(), inplace=True)
da['sub2'].fillna(da['sub2'].mean(), inplace=True)
da['sub3'].fillna(da['sub3'].mean(), inplace=True)
da['study_hours'].fillna(da['study_hours'].mean(), inplace=True)
da['average']=(da['sub1']+da['sub2']+da['sub3'])/3

In [4]:
da.head()

      sub1     sub2    sub3  study_hours assignments  marks   average
0  5.13125  5.01875  4.6875     6.830000        none  78.50  4.945833
1  5.13125  5.01875  4.6875     6.560000   completed  76.74  4.945833
2  5.75000  5.50000  5.0000     6.988969        none  78.68  5.416667
3  5.13125  5.01875  4.6875     5.670000        none  71.82  4.945833
4  5.13125  5.01875  4.6875     8.670000        none  84.19  4.945833

In [5]:
da['study_hours']=da['study_hours'].astype('int64')

In [6]:
da['marks']=da['marks']-10

In [7]:
da.head()
da['assignments']=pd.get_dummies(da['assignments'])

In [8]:
da['marks']=da['marks']+(da['assignments']*10)

In [9]:
da.head()

      sub1     sub2    sub3  study_hours  assignments  marks   average
0  5.13125  5.01875  4.6875            6            0  68.50  4.945833
1  5.13125  5.01875  4.6875            6            1  76.74  4.945833
2  5.75000  5.50000  5.0000            6            0  68.68  5.416667
3  5.13125  5.01875  4.6875            5            0  61.82  4.945833
4  5.13125  5.01875  4.6875            8            0  74.19  4.945833

In [10]:
da['assignments']=da['assignments'].astype('int64')

In [11]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()

regressor.fit(da.drop(['sub1','sub2','sub3','marks'],axis='columns'),da.marks)

LinearRegression()

In [12]:
regressor.coef_

array([ 3.97584444,  9.47477436, -0.05125116])

In [13]:
pickle.dump(regressor, open('mymodel.pkl','wb'))

In [15]:
mymodel = pickle.load(open('mymodel.pkl','rb'))
print(mymodel.predict([[12,1,9]]))

[99.39874995]

#